@import "../../styles/colors.scss";
.control_buttons{
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.player_controller{
    padding: 10px;
    color: $light-grey;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.control_buttons button:nth-of-type(2){
    margin: 0 15px;
}

.control_buttons button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}