@import "src/styles/colors.scss";
@import "src/styles/indents.scss";

.text {
  flex-grow: 1;
  padding: 10px 20px;
  background-color: #e7e7e766;
  color: black;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  overflow-wrap: break-word;
}

.selfText {
  background-color: rgba(69, 69, 69, 0.5);
  color: white;
}

.username {
  font-size: 16px;
  color: #e7e7e766;
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messageEntry {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: $indentMd;
}
