@import "src/shared/styles/colors.scss";
@import "src/shared/styles/radiuses.scss";
@import "src/shared/styles/indents.scss";

$chat-text-font-size: 13px;

.chat_window {
  width: 400px;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 24%;
  bottom: 24%;
  right: 2%;
  //border: 2px rgba(93, 93, 93, 0.2) dashed;
  color: #c4c4c4;
  font-size: $chat-text-font-size;
  font-family: "Exo 2", sans-serif;
  z-index: 1600;
}

.history_wrapper::-webkit-scrollbar {
  width: 0;
}

.history_wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  overflow-x: hidden;
  overflow-y: scroll;
}

.msg_history {
  width: 100%;
  min-height: 100%;
  // overflow: scroll;
  user-select: none;
  position: absolute;
  transition: all 0.5s;

   display: flex;
   justify-content: flex-end;
   flex-direction: column;

  // border-radius: 5px;
  // background-color: rgba(0, 0, 0, 0.8);
  // -webkit-box-shadow: 0px -100px 100px -100px rgba(58, 58, 58, 1) inset;
  // -moz-box-shadow: 0px -100px 100px -100px rgba(58, 58, 58, 1) inset;
  // box-shadow: 0px -100px 100px -100px rgba(58, 58, 58, 1) inset;
}

.msg_item {
}

.spacer {
  height: 2px;
}

.spacerLong {
  height: $indentSm;
}

.enterSection {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: $indentSm;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $brMd;
  border: none;
  padding: 1rem;
}

.input {
  flex-grow: 1;
  border-radius: $brMd !important;
  border: none;
}

//.msg_entry {
//  width: 100%;
//  align-items: center;
//  display: flex;
//}

//.msg_entry input,
//.msg_entry input::placeholder {
//  font-size: $chat-text-font-size;
//  font-family: "Exo 2", sans-serif;
//  color: #000;
//  background-color: white;
//  opacity: 0.8;
//  border: none;
//  width: 100%;
//}
