@import "src/styles/colors.scss";
@import "src/styles/radiuses.scss";
@import "src/styles/indents.scss";

.text {
  padding: 10px 20px;
  overflow-wrap: break-word;
  // font-size: 0.7em;
  min-width: 70%;
  max-width: 70%;
  background-color: #e7e7e766;
  color: black;
  backdrop-filter: blur(12px);
}

.firstMsg {
  border-top-left-radius: $brMd;
  border-top-right-radius: $brMd;
}

.lastMsg {
  border-bottom-right-radius: $brMd;
}

.lastMsgSelf {
  border-bottom-left-radius: $brMd;
}

.selfText {
  background-color: rgba(69, 69, 69, 0.5);
  color: white;
}

.username {
  // font-size: 16px;
  color: #e7e7e766;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usertotem {
  $totemSize: 30px;
  width: $totemSize;
  height: $totemSize;

  color: #e7e7e766;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: violet;
}

.messageEntry {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: $indentMd;

  pointer-events: auto !important;
}

.selfEntry {
  flex-direction: row;
}

.groupWrapper {
  margin-bottom: $indentSm;
  display: flex;
  flex-direction: column;
  gap: 0;
}
