@import "../../../styles/colors.scss";

$rollWidth: max(16rem, 12vw);

* {
  transition: all 0.1s ease-in-out;
}

.cardContainer {
  margin-top: 1.3rem;
  width: 100%;
  // height: 100%;
  display: grid;
  align-items: baseline;
  justify-content: center;
  overflow: visible;
}

.cardOuter {
  position: relative;
  width: calc($rollWidth * 0.53);
  padding: calc($rollWidth * 0.125);
  aspect-ratio: 1/1.8;
  background-color: grey;
  border-radius: 16px;
  z-index: 100;
  overflow: visible;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

/* Для больших экранов */
@media (min-width: 960px) {
  .cardContainer:hover {
    position: relative;
    z-index: 300;
    transform: scale(1.4) translateX(2.7rem);
  }

  .cardOuter:hover {
    -webkit-box-shadow: 0 0 100px 0rem $shadow-blue;
    -moz-box-shadow: 0 0 100px 0rem $shadow-blue;
    box-shadow: 0 0 100px 0rem $shadow-blue;
  }

  .poster {
    filter: brightness(0.8) grayscale(0.8);
  }

  .poster:hover {
    filter: brightness(1) grayscale(0);
  }
}