@import "src/styles/colors";

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.3ms all;

  background-color: rgba(0, 0, 0, 0.5);

  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 1.2rem;
  border-radius: 10px;
  background-color: $dark-grey;
  min-width: 400px;
  transform: scale(0.5);
  transition: 0.2s all;
}

.modal__content.active {
  transform: scale(1);
}