@import "src/styles/colors";

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s all;

  background-color: rgba(0, 0, 0, 0.75);

  /* From https://css.glass */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(0);
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
  // backdrop-filter: blur(13.9px);
  // -webkit-backdrop-filter: blur(13.9px);
}

.modal__content {
  padding: 1.7rem;
  border-radius: 20px;
  background-color: $dark-grey;
  min-width: 400px;
  transform: scale(0.7);
  transition: 1s all;

  -webkit-box-shadow: 0px 0rem 120rem 0px rgba(157, 175, 189, 0.3);
  -moz-box-shadow: 0px 0rem 120rem 0px rgba(157, 175, 189, 0.3);
  box-shadow: 0px 0rem 120rem 0px rgba(157, 175, 189, 0.3);
}

.modal__content.active {
  transform: scale(1);
}
