$grey-300: #151515;
$grey-400: #1c1c20;
$grey-450: #29282c;
$grey-500: #37343e;

$dark-scroll-body: #151515;

$base-grey: #131313;

$light-grey: #e7e7e7;

$yellow: #ede290;
$white: #fff;

$footer-base-color: #151515;

$accent-color-300: #8b60ff;
$accent-color-400: #9d79ff;
$accent-color-500: #b195ff;
$accent-color-550: #bda5ff;
$accent-color-600: #c7b3ff;

$primary-color: #7346ef;

$shadow-light: #8f8b93;
$shadow-blue: #66A2B0;
