$grey-300: #151515;
$grey-400: #202020;
$grey-450: #252525;
$grey-500: #303030;

$dark-scroll-body: #444444;

$base-grey: #5d5d5d;

$light-grey: #e7e7e7;

$footer-base-color: #545454;

$accent-color-300: #8b60ff;
$accent-color-400: #9d79ff;
$accent-color-500: #b195ff;
$accent-color-550: #bda5ff;
$accent-color-600: #c7b3ff;

$primary-color: #7346ef;
