@import "src/styles/colors";

.container {
  display: grid;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  // grid-template-columns: 10fr;
  height: 100%;
  align-content: start;

  opacity: 0;
  animation: fade-in 500ms ease 500ms both;
}

.roomsList {
  display: flex;
  // align-content: center;
  gap: 1rem;

  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  // padding-top: 75rem;

  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  // box-sizing: border-box;

  overflow-y: auto;
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
  scrollbar-width: none; /* hide scrollbar for Firefox */
}

.roomsList::-webkit-scrollbar {
  //hide scrollbar for Chrome, Safari, Opera
  display: none;
}

.roomsList > div {
  max-width: calc(70% - 1.2rem); //todo
  flex-grow: 1;
}

.divider {
  height: 1.2em;
  width: 2px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #353535;
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
