.container {
  height: 100%;
  background-color: black;
}

.video_player_container {
  height: 100%;
  display: grid;
  // grid-template-rows: 90% 10%;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.video_player {
  pointer-events: none;
}
