@import "src/styles/colors";

.baseButton {
  border: 4px solid $light-grey;
  border-radius: 75px;
  font-size: 1rem;
  color: $light-grey;
  width: 100%;
  padding: 16px;
  cursor: pointer;

  background-color: $dark-grey;

  transition: 150ms;
}

.baseButton:hover {
  outline: none !important;
  background-color: $dark-grey-lighter;
  color: $light-grey;
}

