@import "src/styles/colors";
.baseButton{
  border: 2px solid $light-grey;
  border-radius: 75px;
  background-color: transparent;
  font-size: 1rem;
  color: $light-grey;
  width: 80%;
  padding: 16px;
  cursor: pointer;
}
.baseButton:focus {
  outline: none !important;
  background-color: black;
  font-size: 17px;
  color: $light-grey;
}

.baseButton:hover {
  outline: none !important;
  background-color: #1a1a1a;
  font-size: 17px;
  color: $light-grey;
}