@import "src/shared/styles/colors";

* {
  overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(2);
  animation: fade-out 1s linear 2s;
  background-color: #1a1a1a;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splashIconDesign {
  stroke: $light-grey;
  stroke-width: 7;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.splashIconAnimation {
  animation-timing-function: ease-in-out;
  animation-name: pathAnimation, pathAppearance;
  animation-fill-mode: forwards;
}

.splashIconHeadPath {
  @extend .splashIconAnimation;
  stroke-dasharray: 750.0419921875;
  stroke-dashoffset: 750.0419921875;
  animation-duration: 1s;
  animation-delay: 0.9s;
}

.splashIconSmallElementsPath {
  @extend .splashIconAnimation;
  stroke-dasharray: 277.06597900390625;
  stroke-dashoffset: 277.06597900390625;
  animation-duration: 1s;
  animation-delay: 0.9s;
}

.splashIconEyePath {
  @extend .splashIconAnimation;
  stroke-dasharray: 68.6319808959961;
  stroke-dashoffset: 68.6319808959961;
  animation-duration: 0.35s;
  animation-delay: 0.5s;
}

.splashIconEyeLightning {
  @extend .splashIconEyePath;
  stroke-width: 20;
  filter: blur(5px);
  stroke: $accent-color-300;
}

@keyframes pathAppearance {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
}

@keyframes pathAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

.splashContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.splashContainerText {
  color: $light-grey;
  font-size: 0.8rem;
  opacity: 0;
  text-transform: uppercase;
  animation: textAppearance 1s ease-in-out 2s;
}

@keyframes textAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
