:root{
  --accent-color-300: #8b60ff;
  --accent-color-550: #bda5ff;
  --white: #fff;
  --grey-500: #303030;
  --shadow-blur: 14px;
  --shadow-y: 0.8rem;
  --shadow-color: #8f8b9326;
  --shadow-inset: 0rem;
}