@import "colors";

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark-scroll-body;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $light-grey;
}
