@import "src/styles/colors";

.baseInput {
  padding: 1rem 2rem 1rem 2rem;
  user-select: none;
  border-radius: 75px;
  border: 4px solid white;
  background-color: $dark-grey;
  outline: none;
  font-size: 17px;
  color: $light-grey;
  transition: 200ms;
}

.baseInput:focus {
  padding: 1rem 2rem 1rem 2rem;
  user-select: none;
  border-radius: 75px;
  background-color: $light-grey;
  outline: none;
  font-size: 17px;
  color: $dark-grey;
}

::placeholder {
  color: $light-grey;
}
