@import "src/styles/colors";

$card-width: 22rem;
$card-height: $card-width / 1.75;

:export {
  cardWidth: $card-width;
  cardHeight: $card-height;
}

.container {
  position: relative;
  background-color: #5d5d5d;
  width: $card-width;
  height: $card-height;
  border-radius: 16px;
  cursor: pointer;
  transition: 150ms;
  // transform: scale(1);
  // z-index: -100;
}

.container:hover {
  transform: scale(1) perspective(500px) rotateX(8deg);
  z-index: 500;
}

.body {
  height: 100px;
}

.footer {
  position: absolute;
  display: flex;

  bottom: 0;
  width: 100%;

  box-sizing: border-box;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;
  font-weight: 400;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  // background: rgba(32, 32, 32, 0.67);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  //transform: translate3d(0, 0, 0);
  //-ms-transform: translate3d(0, 0, 0);
  ///* From https://css.glass */
  // backdrop-filter: blur(13.9px);
  // -webkit-backdrop-filter: blur(13.9px);
}

.glassy {
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  ///* From https://css.glass */
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
}

.cardTextSmall {
  font-size: 0.7rem;
}

.cardTextLarge {
  font-size: 1.1rem;
  max-width: $card-width;
  overflow: hidden;
}

.cardTitle {
  width: 100%;
  height: $card-height;

  line-height: $card-height;

  text-justify: center;
  text-align: center;

  margin: auto auto;
  color: white;
  font-size: 3em;
  overflow: hidden;
  // mix-blend-mode: difference;

  background-color: rgba(33, 33, 33, 0.86);

  transition: all 150ms;
}

.cardTitle:hover {
  opacity: 0;
}

.cardTextMedium {
  font-size: 1.2rem;
}

.cardTitleMarquee {
  width: calc($card-width - 1.75rem);
  height: 25px;

  overflow: hidden;
  position: relative;
}

.cardTitleMarquee > div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;
}

.cardTitleMarquee span {
  float: left;
  width: 100%;
}

.marqueeAnimation {
  animation: marquee 7s linear infinite;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
