@import "src/styles/colors";
.container {
  background-color: #5d5d5d;
  width: 250px;
  height: 160px;
  border-radius: 10px;
  cursor: pointer;
}

.body {
  height: 100px;
}

.footer {
  display: flex;
  box-sizing: border-box;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;
  font-weight: 400;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* From https://css.glass */
  background: rgba(32, 32, 32, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
}

.cardTextSmall {
  font-size: 0.7rem;
}

.cardTextLarge {
  font-size: 1.1rem;
  max-width: 300px;
  overflow: hidden;
}

.cardTextMedium {
  font-size: 1.2rem;
}