@import "src/styles/colors";
.container {
  background-color: #5d5d5d;
  width: 400px;
  min-width: 400px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.body {
  height: 200px;
}

.footer {
  display: flex;
  box-sizing: border-box;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  backdrop-filter: blur(25px);
  background-color: $dark-grey;
  opacity: 0.8;
  color: white;
  font-weight: 500;
}

.cardTextSmall {
  font-size: 1rem;
}

.cardTextLarge {
  font-size: 1.4rem;
  max-width: 300px;
  overflow: hidden;
}

.cardTextMedium {
  font-size: 1.2rem;
}