.container {
  display: grid;
  grid-template-columns: 9fr 4fr;
  height: 100%;
}

.roomsList {
  display: flex;
  align-content: flex-start;
  gap: 20px;
  padding-right: 1.2rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.roomsList > div {
  max-width: calc(70% - 1.2rem); //todo
  flex-grow: 1;
}

