@import "../../styles/colors";

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 2.4rem;
  animation: fade-in 1.5s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spacer {
  height: 0.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 24vw;
  min-width: 400px;
  justify-content: center;
  // margin-top: -110px;
}

.loginContainerHead {
  display: flex;
  gap: 1.2rem;

  font-weight: 500;
  font-size: 1.2rem;
  color: $light-grey;
}

.loginContainerHead > div {
  cursor: pointer;
}

.authTypeActive {
  border-bottom: 2px solid $accent-color-300;
}

.formContainerInputList {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginText {
  font-size: 1.3rem;
  color: $light-grey;
  text-align: center;
  padding-bottom: 1.8rem;
  letter-spacing: 0.07em;
}

.appTitleContainer {
  position: fixed;
  left: 54px;
  top: 38px;

  align-self: center;
  width: 30%;
  min-width: 400px;
  color: $light-grey;

  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.14em;
}
